* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #163344;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.header__title {
  font-family: "Sacramento", cursive;
  color: white;
  font-size: 60px;
}

.title__icon {
  font-size: 30px;
  transform: rotate(-45deg);
}
